.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.login-container {
    background-color: #f0f2f5;
    min-height      : 100vh;
    padding-top     : 20px;

    .content-left {
        margin-top: 50px;

        .brand {
            text-transform: uppercase;
            font-size     : 30px;
            color         : #1877f2;
        }

        .tittle {
            font-size: 20px;
        }
    }

    .content-right {
        .brand {
            text-transform: uppercase;
            font-size     : 30px;
            text-align    : center;
            color         : #1877f2;
            font-weight   : 700;
        }

        border          : 1px solid green;
        border-radius   : 10px;
        background-color: #fff;
        box-shadow      : 0 2px 4px rgba(0, 0, 0, .1),
        0 8px 16px rgba(0, 0, 0, .1);
        box-sizing: border-box;
        border    : none;

        .forgot-password {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

    }
}