.modal-user{
    .content-body{
        .red-color{
            color: red;
        }
    }
}

.managet-users-container{
    i{
        padding-right: 7px;
    }
    .actions{
        .refresh{
            margin-right: 15px;
        }
    }
}